<form action="/quizes/answer" method="get">
	<p>Pregunta: <%= pregunta %></p>
	<input type="text" name="respuesta" id="respuesta" value="Responda aqui" />
	<input type="submit" value="Enviar">
</form>
